streamlit
python-dotenv
google-generativeai
llama_index
#llama_index.llms.gemini
#llama_index.core
#llama_index.embeddings.huggingface
sentence-transformers
#llama_index.vector_stores.pinecone
pinecone-client